[project]
name = "{{project_name}}"
version = "0.1.0"
description = "{{project_description}}"
readme = "README.md"
requires-python = ">={{python_versions[0]}}"
dependencies = [
    "cryptography>=45.0.4",
    "passlib>=1.7.4",
    "pydantic-settings>=2.10.1",
    {% if project_type in ["api-monolith", "api-microservice"] %}
    "email-validator>=2.2.0",
    "psycopg>=3.2.9",
    "sqlalchemy>=2.0.43",
    {% elif project_type == "mcp-server" %}
    "fastmcp>=2.12.2",
    "pydantic>=2.11.7",
    {% elif project_type == "agent" %}
    "pydantic-ai-slim[mcp, openai]>=1.0.8",
    {% endif %}
    {% if project_type in ["api-monolith", "api-microservice", "agent"] %}
    "fastapi>=0.116.1",
    "fastapi-cli>=0.0.8",
    {% endif %}
]

[dependency-groups]
code-quality = [
    "pre-commit>=4.3.0",
    "ruff>=0.12.10",
    "ty>=0.0.1a19",
]
dev = [
    "alembic>=1.16.4",
    "pytest>=8.4.1",
    "pytest-asyncio>=1.0.0",
    "pytest-cov>=6.2.1",
]

[tool.ruff]
line-length = 120
target-version = 'py{{ default_python_version.replace(".", "") }}'

[tool.ruff.lint]
select = [
    "I",     # isort
    "F",     # pyflakes
    "FAST",  # FastApi
    "ANN",   # flake8-annotations
    "ASYNC", # flake8-async
    "COM",   # flake8-commas
    "T10",   # flake8-debugger
    "PT",    # flake8-pytest-style
    "RET",   # flake8-return
    "SIM",   # flake8-simplify
    "N",     # pep8-naming
    "E",     # pycodestyle errors
    "W",     # pycodestyle warnings
]
ignore = [
    "ANN002", # missing-type-args
    "ANN003", # missing-type-kwargs
    "ANN204", # missing-return-type-special-method
    "ANN401", # any-type
    "RET503", # implicit-return
]

{% if project_type == "api-monolith" %}
[tool.ruff.lint.per-file-ignores]
"app/*/routes/*/*.py" = ["ANN201"]
# ignoring annotation of return type of FastAPI endpoints to use just reponse_model
{% endif %}

[build-system]
requires = ["uv_build"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-root = ""
module-name = "app"